{% extends 'login/masterpage.html' %}
{% block content %}

<h1>Solicitud de transaccion</h1>
Capture la informacion para el envio de su transaccion<br>
<br>
<br>
<form method="post" action="llamadobanco">
  Banco Destino
  <select name="selecciona_banco">
    <option value="null">Selecciona Banco Destino</option>
    <option value="BBVA">BBVA</option>
    <option value="Banamex">Banamex</option>
    <option value="Santander">Santander</option>
    <option value="Azteca">Azteca</option>
    <option value="Sabatell">Sabatell</option>
  </select>
  <br>
  <br>
  Cuenta,Clabe o numero de telefono
  <input type="text" name="cuenta_destino" id="cuenta_destino" />
  <br>
  <br>
  Nombre cuenta destino
  <input type="text" name="nombre_destino" id="nombre_destino" />
  <br>
  <br>
  Monto
  <input type="text" name="monto" id="monto" />
  <br>
  <br>
  Concepto
  <input type="text" name="concepto" id="concepto" />
  <br>
  <br>
  <input type="submit" value="Confirma">
</form>
{% endblock %}
