{% extends 'masterpage.html'%}
{% block content %}

<h1>Administración de cuentas</h1>
<br>
<br>
<form method="POST" action="{% url 'adminbanco' %}">
  {% csrf_token %}
<select name="institucion">
  <option value="null">Selecciona institucion</option>
  {% for entry in NombreInstituciones %}
    <option value={{ entry.institucion_id }}>{{ entry.institucion_nombre }}</option>
  {% endfor %}
</select>
  <input type="submit" value="Agregar">
</form>
<br>
<br>
<form method="POST" action="{% url 'eliminocta' %}">
  {% csrf_token %}
  <p>
    {% for entry in Saldos %}
    <label>
      <input type="radio" name="numerocuenta" value={{ entry.cuenta_numero }} />
      {{ entry.cuenta_nickname }} -- {{ entry.cuenta_institucion }} -- {{ entry.cuenta_currency }}</label>
    <br />
    {% endfor %}
    <br />
  </p>
  <input type="submit" value="Eliminar">
</form>
{% endblock %}
