{% extends 'masterpage.html' %}
{% block content %}
{% load static %}
<div class="content">
  <h1>Información de Cuentas</h1>

  <div class="menuServicio">
    <form method="POST" action="{% url 'devinformacion' %}">
      {% csrf_token %}
      <div class="custom-select">
        <p>Selecciona un servicio</p>
      <select name="serviciosolicitado">
        <option value="detalle">Detalle de la cuenta</option>
        <option value="consent">Permisos otorgados a la cuenta</option>
        <option value="transacciones">Transacciones</option>
      </select>
    </div>
      <div class="custom-select">
        <p>Selecciona una cuenta</p>
      <select name="cuentadetalle" >
        {% for entry in cuentasusuario %}
          <option value={{ entry.cuenta_numero }}>{{ entry.cuenta_nickname }}</option>
        {% endfor %}
      </select>
    </div>
        <input class="btn" type="submit" value="Confirmar">
    </form>
  </div>
  <div class="accounts-transactions content-box">
    {% if DetalleCuenta %}
    <div class="transactions-title">
      <h2>Información de la cuenta</h2>
    </div>
    <div class="transactions-table">
        <table width="100%">
          {% for entry in DetalleCuenta %}
              <tr class="table-row">
                  <th class="info-account">Alias de la cuenta</th>
                  <td>{{ entry.Nickname }}</td>
              </tr>
              <tr class="table-row">
                  <th class="info-account">Estatus</th>
                  <td>{{ entry.Status }}</td>
              </tr>
              <tr class="table-row">
                  <th class="info-account">Tipo de cuenta</th>
                  <td>{{ entry.AccountType }}</td>
              </tr>
              <tr class="table-row">
                  <th class="info-account">Fecha de apertura</th>
                  <td>{{ entry.OpeningDate }}</td>
              </tr>
              <tr class="table-row">
                  <th class="info-account">Moneda</th>
                  <td>{{ entry.Currency }}</td>
              </tr>
            {% endfor %}
          </table>
        </div>
        {% endif %}
        {% if DetallesConsent %}
        <div class="transactions-title">
            <h2>Información del consentimiento</h2>
        </div>
        <div class="transactions-table">
          <table width="100%">
              {% for entry in DetallesConsent %}
              <tr class="table-row">
                  <th class="status-account">Estatus del consentimiento</th>
                  <td>{{ entry.Status }}</td>
              </tr>
              <tr class="table-row">
                  <th class="status-account">Fecha de creación</th>
                  <td>{{ entry.CreationDateTime }}</td>
              </tr>
              <tr class="table-row">
                  <th class="status-account">Fecha de expiración</th>
                  <td>{{ entry.ExpirationDateTime }}</td>
              </tr>
              <tr class="table-row">
                  <th class="status-account">Permisos</th>
                  <td>{{ entry.Permissions }}</td>
              </tr>
              {% endfor %}
          </table>
        </div>
        {% endif %}
        {% if TransaccionesCuenta %}
        <div class="transactions-title">
            <h2>Transacciones</h2>
        </div>
        <div class="transactions-table">
          <table width="100%" id="tabla_transacciones" class="display">
            <thead>
                <tr class="table-row">
                    <th class="transaction-info">Informacion de la transacción</th>
                    <th class="transaction-status">Estatus</th>
                    <th class="transaction-date">Fecha de aplicación</th>
                    <th class="transaction-ammount">Monto</th>
                    <th class="transaction-currency">Moneda</th>
                </tr>
            </thead>
              {% for entry in TransaccionesCuenta %}
              <tr class="table-row">
                <td class="transaction-info">{{ entry.TransactionInformation }}</td>
                <td class="transaction-status">{{ entry.Status }}</td>
                <td class="transaction-date">{{ entry.BookingDateTime }}</td>
                <td class="transaction-ammount">{{ entry.Amount }}</td>
                <td class="transaction-currency">{{ entry.Currency }}</td>
              </tr>
              {% endfor %}
          </table>
        </div>
        {% endif %}
  </div>
</div>
{% endblock %}
